@import "tailwindcss";

body{
    background: url("../src/assets/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;

}